<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=National+Park:wght@200..800&family=Sarala:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Your Likes</title>
  </head>
  <body>
    <h1>Your Likes</h1>
    <a href="/search" class="navButton">Search Again</a>
    <div class="dogCards">
      <% if (dogs.length === 0) {%>
      <div class="emptyResultsCard">
        <p class="emptyResults">no likes yet ... 🥺 ... show some love</p>
      </div>
      <% } %> <% dogs.forEach(dog => { %>
      <div class="dogCard">
        <div class="nameAndBreed">
          <h3 class="dogName"><%= dog.name %></h3>
        </div>
        <% if (dog.photos.length > 0) { %>
        <img
          src="<%= dog.photos[0].medium %>"
          alt="<%= dog.name %>"
          class="dogImage"
        />
        <% } else { %>
        <img
          src="/No-Image-Placeholder.svg"
          alt="No image of <%= dog.name %> available"
          class="dogImage"
        />
        <% } %>

        <div class="dogCardBottom">
          <div class="dogStats">
            <p><b>Age:</b> <%= dog.age %></p>
            <p><b>Size:</b> <%= dog.size %></p>
            <!-- <p><b>ID:</b> <%= dog.id %></p> -->
            <p>
              <b>Location: </b> <%= dog.contact.address.city %>, <%=
              dog.contact.address.state %>
            </p>
          </div>

          <form method="POST" action="/unlikes/<%= dog.id %>">
            <button type="submit" class="likeButton">💔</button>
          </form>
        </div>
      </div>

      <% }); %>
    </div>
  </body>
</html>
